# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/


# ==========================
# Jupyter
# ==========================

.ipynb_checkpoints/


# ==========================
# Data
# ==========================

# Medical datasets
data/

# NIfTI files
*.nii
*.nii.gz


# ==========================
# Model checkpoints
# ==========================

checkpoints/
*.pth
*.pt
*.ckpt


# ==========================
# Training outputs
# ==========================

runs/
logs/
tensorboard/

*.log


# ==========================
# Temporary files
# ==========================

*.tmp
*.temp

.DS_Store
Thumbs.db


# ==========================
# IDE
# ==========================

.vscode/
.idea/


# ==========================
# OS
# ==========================

*.swp